sqlalchemy
apscheduler
Flask
#Flask-SQLAlchemy
mysql-replication
pymysql
python-dotenv
requests
cryptography
waitress

# auth
passlib[bcrypt]>=1.7 # For password hashing
Flask-JWT-Extended>=4.0 # For authentication tokens
Flask-Cors>=3.0 # For Cross-Origin Resource Sharing